<div class="text-white position-relative collection-detail">
  <div class="d-flex ml-5 position-absolute collection-detail-info">
    <img
      src="../../../../assets/liked.png"
      class="mr-5 collection-detail-img"
      alt="..."
      style="max-width: 300px; max-height: 300px"
    />

    <div class="d-flex flex-column justify-content-end pb-5">
      <h5 class="card-title text-capitalize">Playlist</h5>
      <p class="h1" style="font-size: 96px">Liked Songs</p>
      <p class="card-text"></p>
      <p class="card-text">{{ userName }} • {{ totalSong }} liked songs</p>
    </div>
  </div>
</div>
<div class="container-fluid collection-detail-list">
  <table class="table text-white table-borderless">
    <thead class="sticky-top" style="background-color: #33001a">
      <tr class="border-bottom row">
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-4">TITLE</th>
        <th scope="col" class="col-4">ALBUM</th>
        <th scope="col" class="col-1">DATE ADD</th>
        <th scope="col" class="col-1">UNLIKE</th>
        <th scope="col" class="text-center col-1">
          <i class="fas fa-clock"></i>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let Track of likeCollection; let i = index">
      <tr class="border-bottom row">
        <td scope="row " class="pt-4 col-1">{{ i + 1 }}</td>
        <td class="d-flex text-left col-4">
          <div class="mr-3">
            <img [src]="Track.track.album.images[2].url" alt="" />
          </div>
          <div class="d-flex flex-column">
            <a [routerLink]="['../track', Track.track.id]" class="text-white">{{
              Track.track.name | summary: 25
            }}</a>
            <a
              class="text-white"
              [routerLink]="['../artist', Track.track.artists[0].id]"
            >
              <i class="fas fa-microphone"></i>
              {{ Track.track.artists[0].name }}
            </a>
          </div>
        </td>
        <td class="pt-4 col-4">
          <a
            [routerLink]="['../albums', Track.track.album.id]"
            class="text-white"
            >{{ Track.track.album.name | summary: 20 }}</a
          >
        </td>
        <td class="pt-4 col-1">{{ Track.added_at | date: "dd/MM/yy" }}</td>
        <td
          class="pt-4 col-1"
          (click)="removeLikeSongs(Track.track.id)"
          style="cursor: pointer"
        >
          <i class="fas fa-heart ml-3 text-success"></i>
        </td>
        <td class="pt-4 col-1 text-center">
          {{ Track.track.duration_ms | date: "mm:ss" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
