<div class="login-feature">
  <div class="text-center py-5">
    <img
      src="../../../assets/spotify_logo.png"
      style="max-width: 100px"
      alt=""
    />
    <span class="h1"> NgSpotify</span>
  </div>
  <div class="text-center my-5">
    <button
      class="btn btn-success px-5 rounded-pill"
      (click)="login()"
      style="width: 150px"
    >
      Login
    </button>
  </div>
  <div class="text-center my-5">
    <button class="btn btn-success px-5 rounded-pill">Signup</button>
  </div>
</div>
