<div class="text-white position-relative artist-detail" *ngIf="artist">
  <div class="d-flex ml-5 position-absolute artist-detail-info">
    <img
      src="{{ artist.images[1].url }}"
      class="mr-5 artist-detail-img"
      alt="..."
    />
    <div class="d-flex flex-column justify-content-end pb-5">
      <p class="h6 text-capitalize">Artist</p>
      <p class="h1" style="font-size: 96px">{{ artist.name }}</p>
      <p class="card-text h6">
        Spotify • {{ artist.followers?.total }} - followers
      </p>
    </div>
  </div>
</div>
<div class="pl-5 py-3 artist-detail-btn">
  <button
    class="btn btn-success rounded-circle mr-3"
    style="margin-left: 50px"
    (click)="playPlaylist()"
  >
    <i class="far fa-play-circle"></i>
  </button>
  <button
    class="btn btn-outline-warning"
    (click)="followArtist(artist?.id, artist.name)"
    *ngIf="!checkFollow"
  >
    Follow
  </button>
  <button
    class="btn btn-success ml-3"
    (click)="unFollowArtist(artist?.id, artist.name)"
    *ngIf="checkFollow"
  >
    Following
  </button>
</div>

<div class="contain-fluid pl-3 pt-4 artist-detail-list">
  <h3 class="border-bottom">Top of Artist</h3>
  <table
    class="table table-borderless text-white"
    *ngFor="let track of trackOfArtist; let i = index"
  >
    <tbody class="text-center">
      <tr class="row border-bottom">
        <td scope="row" class="pt-4 col-1">{{ i + 1 }}</td>
        <td class="d-flex col-5">
          <div>
            <img [src]="track.album.images[2].url" alt="" class="mr-3" />
          </div>
          <p class="mt-3">{{ track.name }}</p>
        </td>
        <td class="col-4 pt-4 text-capitalize">{{ track.album.album_type }}</td>
        <td class="col-2 pt-4">{{ track.duration_ms | date: "mm : ss" }}</td>
      </tr>
    </tbody>
  </table>
</div>
