<div id="content-main" class="content-main mt-4" role="main">
  <div class="container legal-body">
    <h1>
      <a href="#điều-khoản-sử-dụng-spotify" id="điều-khoản-sử-dụng-spotify"
        >Điều khoản sử dụng Spotify</a
      >
    </h1>
    <p>
      <a href="#-headingh30j0zll"><u>1. Giới thiệu</u></a>
    </p>
    <p>
      <a href="#-headingh2et92p0"
        ><u>2. Dịch vụ Spotify do chúng tôi cung cấp.</u></a
      >
    </p>
    <p>
      <a href="#-headingh2s8eyo1"><u>3. Bạn sử dụng dịch vụ Spotify</u></a>
    </p>
    <p>
      <a href="#-headinghz337ya"><u>4. Nội dung và quyền sở hữu trí tuệ</u></a>
    </p>
    <p>
      <a href="#-headingh1pxezwc"
        ><u>5. Hỗ trợ khách hàng, thông tin, câu hỏi và khiếu nại</u></a
      >
    </p>
    <p>
      <a href="#-headingh147n2zr"><u>6. Vấn đề và tranh chấp</u></a>
    </p>
    <p>
      <a href="#-headingh1mrcu09"><u>7. Giới thiệu về các Điều khoản này</u></a>
    </p>
    <h1><a href="#1-giới-thiệu" id="1-giới-thiệu"></a><a></a>1. Giới thiệu</h1>
    <p>
      Vui lòng đọc kỹ các Điều khoản sử dụng này (các** "Điều khoản**" này) vì
      các Điều khoản này quản lý việc bạn sử dụng (bao gồm truy cập vào) dịch vụ
      cá nhân hóa của Spotify để phát trực tiếp nhạc và nội dung khác, bao gồm
      tất cả các trang web và ứng dụng phần mềm của chúng tôi, kết hợp hoặc liên
      kết với các Điều khoản này (gọi chung là "<strong>Dịch vụ Spotify</strong
      >") và bất kỳ bản nhạc, video, podcast, hoặc tài liệu khác được cung cấp
      thông qua Dịch vụ Spotify ("<strong>Nội dung</strong>").
    </p>
    <p>
      Việc sử dụng Dịch vụ Spotify có thể phải tuân theo các điều khoản và điều
      kiện bổ sung do Spotify cung cấp. Các điều khoản và điều kiện này được kết
      hợp ở đây vào các Điều khoản này.
    </p>
    <p>
      Bằng cách đăng ký hoặc sử dụng Dịch vụ Spotify, bạn đồng ý với các Điều
      khoản này. Nếu bạn không đồng ý với các Điều khoản này, bạn không được sử
      dụng Dịch vụ Spotify hoặc truy cập bất kỳ Nội dung nào.
    </p>
    <h2>
      <a href="#nhà-cung-cấp-dịch-vụ" id="nhà-cung-cấp-dịch-vụ"></a><a></a>Nhà
      cung cấp dịch vụ
    </h2>
    <p>
      Các Điều khoản này là điều khoản giữa bạn và Spotify AB, Regeringsgatan
      19, 111 53, Stockholm, Thụy Điển.
    </p>
    <h2>
      <a
        href="#yêu-cầu-về-độ-tuổi-và-tính-đủ-điều-kiện"
        id="yêu-cầu-về-độ-tuổi-và-tính-đủ-điều-kiện"
      ></a
      ><a></a>Yêu cầu về độ tuổi và tính đủ điều kiện
    </h2>
    <p>
      Để sử dụng Dịch vụ Spotify và truy cập bất kỳ Nội dung nào, bạn cần (1) từ
      13 tuổi trở lên (hoặc độ tuổi tối thiểu tương đương tại quốc gia của bạn),
      (2) có sự đồng ý của cha mẹ hoặc người giám hộ nếu bạn là trẻ vị thành
      niên tại quốc gia của bạn; (3) có quyền ký kết hợp đồng ràng buộc với
      chúng tôi và không bị cấm làm như vậy theo bất kỳ luật pháp hiện hành nào
      và (4) cư trú ở một quốc gia có Dịch vụ. Bạn cũng cam kết rằng mọi thông
      tin đăng ký mà bạn gửi đến Spotify đều đúng, chính xác và đầy đủ, Và bạn
      đồng ý luôn giữ nguyên điều đó. Nếu bạn là trẻ vị thành niên tại quốc gia
      của bạn thì cha mẹ hoặc người giám hộ của bạn sẽ cần tham gia vào các Điều
      khoản này thay mặt cho bạn. Bạn có thể tìm thêm thông tin về yêu cầu về độ
      tuổi tối thiểu trong quy trình đăng ký. Nếu bạn không đáp ứng yêu cầu về
      độ tuổi tối thiểu, Spotify sẽ không thể đăng ký bạn với tư cách là người
      dùng.
    </p>
    <h1>
      <a
        href="#2-dịch-vụ-spotify-do-chúng-tôi-cung-cấp"
        id="2-dịch-vụ-spotify-do-chúng-tôi-cung-cấp"
      ></a
      ><a></a>2. Dịch vụ Spotify do chúng tôi cung cấp.
    </h1>
    <h2>
      <a href="#tùy-chọn-dịch-vụ-spotify" id="tùy-chọn-dịch-vụ-spotify"></a
      ><a></a>Tùy chọn dịch vụ Spotify
    </h2>
    <p>
      Chúng tôi cung cấp nhiều tùy chọn dịch vụ Spotify. Một số tùy chọn Dịch vụ
      Spotify được cung cấp miễn phí, trong khi các tùy chọn khác yêu cầu thanh
      toán trước khi có thể truy cập ("<strong>Đăng ký trả phí</strong>"). Chúng
      tôi cũng có thể cung cấp các gói khuyến mãi đặc biệt, tư cách thành viên
      hoặc dịch vụ, bao gồm các gói sản phẩm và dịch vụ của bên thứ ba. Chúng
      tôi không chịu trách nhiệm về các sản phẩm và dịch vụ do các bên thứ ba đó
      cung cấp.
    </p>
    <p>
      Dịch vụ không giới hạn có thể không có sẵn cho tất cả người dùng. Chúng
      tôi sẽ giải thích dịch vụ nào có sẵn cho bạn khi bạn đăng ký dịch vụ. Nếu
      bạn hủy đăng ký Dịch vụ không giới hạn hoặc nếu đăng ký của bạn đến Dịch
      vụ không giới hạn bị gián đoạn (ví dụ, nếu bạn thay đổi chi tiết thanh
      toán), bạn có thể không đăng ký lại được Dịch vụ không giới hạn. Lưu ý
      rằng Dịch vụ không giới hạn có thể bị ngừng cung cấp trong tương lai,
      trong trường hợp này bạn sẽ không còn bị tính phí cho Dịch vụ.
    </p>
    <h2><a href="#dùng-thử" id="dùng-thử"></a><a></a>Dùng thử</h2>
    <p>
      Đôi khi, chúng tôi hoặc những người khác thay mặt chúng tôi có thể cung
      cấp bản dùng thử Đăng ký trả phí trong một khoảng thời gian cụ thể mà
      không thanh toán hoặc với mức giá giảm ("<strong>Dùng thử</strong>"). Khi
      sử dụng dịch vụ Spotify qua bản dùng thử, bạn đồng ý với
      <a
        href="https://www.spotify.com/uk/legal/premium-promotional-offer-terms/"
        ><u>Điều khoản ưu đãi khuyến mãi Spotify Premium</u></a
      >.
    </p>
    <h2>
      <a
        href="#ứng-dụng-thiết-bị-và-phần-mềm-mã-nguồn-mở-của-bên-thứ-ba"
        id="ứng-dụng-thiết-bị-và-phần-mềm-mã-nguồn-mở-của-bên-thứ-ba"
      ></a
      ><a></a>Ứng dụng, thiết bị và phần mềm mã nguồn mở của bên thứ ba
    </h2>
    <p>
      Dịch vụ Spotify có thể được tích hợp với, hoặc có thể tương tác với, ứng
      dụng, trang web và dịch vụ của bên thứ ba ("<strong
        >Ứng dụng bên thứ ba</strong
      >") và máy tính cá nhân, điện thoại di động, máy tính bảng, thiết bị đeo,
      loa, và các thiết bị khác của bên thứ ba ("<strong>Thiết bị</strong>").
      Việc bạn sử dụng các ứng dụng và thiết bị của bên thứ ba như vậy có thể
      phải tuân theo các điều khoản, điều kiện và chính sách bổ sung mà bên thứ
      ba áp dụng cung cấp cho bạn. Spotify không đảm bảo các ứng dụng và thiết
      bị của bên thứ ba sẽ tương thích với Dịch vụ Spotify.
    </p>
    <h2>
      <a
        href="#giới-hạn-và-sửa-đổi-dịch-vụ"
        id="giới-hạn-và-sửa-đổi-dịch-vụ"
      ></a
      ><a></a>Giới hạn và sửa đổi dịch vụ
    </h2>
    <p>
      Chúng tôi sử dụng kỹ năng và sự cẩn thận hợp lý để duy trì hoạt động của
      Dịch vụ Spotify và mang đến cho bạn trải nghiệm âm thanh cá nhân hóa, chìm
      đắm. Tuy nhiên, dịch vụ và tính khả dụng của dịch vụ có thể thay đổi theo
      thời gian và tuân theo luật pháp hiện hành, mà không phải chịu trách nhiệm
      pháp lý đối với bạn; ví dụ:
    </p>
    <ul>
      <li>
        Dịch vụ Spotify có thể bị gián đoạn tạm thời do khó khăn kỹ thuật, bảo
        trì hoặc thử nghiệm hoặc cập nhật, bao gồm những gián đoạn cần thiết để
        phản ánh những thay đổi trong luật pháp và yêu cầu quản lý liên quan.
      </li>
      <li>
        Mục tiêu của chúng tôi là phát triển và cải thiện Dịch vụ liên tục và
        chúng tôi có thể sửa đổi, tạm ngừng hoặc ngừng cung cấp (vĩnh viễn hoặc
        tạm thời) tất cả các phần của Dịch vụ Spotify (bao gồm chức năng, tính
        năng, gói đăng ký và gói khuyến mãi cụ thể).
      </li>
      <li>
        Spotify không có nghĩa vụ cung cấp bất kỳ nội dung cụ thể nào thông qua
        Dịch vụ Spotify và Spotify hoặc các chủ sở hữu thích hợp có thể xóa các
        bài hát, video, podcast và nội dung khác mà không cần thông báo.
      </li>
    </ul>
    <p>
      Nếu bạn trả trước phí trực tiếp cho Spotify cho một Đăng ký có phí mà
      Spotify không còn tiếp tục trước khi kết thúc giai đoạn trả trước (thời
      hạn đó được xác định trong phần Thanh toán và hủy bỏ bên dưới), Spotify sẽ
      hoàn lại cho bạn các khoản phí trả trước cho khoảng thời gian trả trước
      cho bất kỳ phần nào chưa sử dụng của Đăng ký có phí đó sau việc ngừng như
      vậy. Thông tin tài khoản và hóa đơn của bạn phải được cập nhật để chúng
      tôi hoàn tiền cho bạn.
    </p>
    <p>
      Spotify không chịu trách nhiệm với bạn cũng như chịu bất kỳ nghĩa vụ nào
      đối với việc hoàn tiền cho bạn, liên quan đến việc mất internet hoặc các
      dịch vụ khác hoặc các sự cố xảy ra do hành động của cơ quan chính phủ, các
      bên thứ ba khác hoặc các sự kiện ngoài tầm kiểm soát của chúng tôi.
    </p>
    <h1>
      <a
        href="#3-bạn-sử-dụng-dịch-vụ-spotify"
        id="3-bạn-sử-dụng-dịch-vụ-spotify"
      ></a
      ><a></a>3. Bạn sử dụng Dịch vụ Spotify
    </h1>
    <h2>
      <a href="#tạo-tài-khoản-spotify" id="tạo-tài-khoản-spotify"></a><a></a>Tạo
      tài khoản Spotify
    </h2>
    <p>
      Bạn có thể cần tạo tài khoản Spotify để sử dụng toàn bộ hoặc một phần Dịch
      vụ Spotify. Tên người dùng và mật khẩu của bạn chỉ dành cho mục đích sử
      dụng cá nhân và nên được giữ bí mật. Bạn hiểu rằng bạn chịu trách nhiệm
      cho tất cả các hoạt động sử dụng (bao gồm mọi hoạt động sử dụng trái phép)
      tên người dùng và mật khẩu của bạn. Thông báo cho đội ngũ Dịch vụ khách
      hàng của chúng tôi ngay lập tức nếu tên người dùng hoặc mật khẩu của bạn
      bị mất hoặc bị đánh cắp hoặc nếu bạn cho rằng tài khoản của bạn bị truy
      cập trái phép.
    </p>
    <p>
      Spotify có thể thu hồi, hoặc yêu cầu bạn đổi, tên người dùng của bạn vì
      bất kỳ lý do gì.
    </p>
    <h2>
      <a
        href="#quyền-sử-dụng-dịch-vụ-spotify-của-bạn"
        id="quyền-sử-dụng-dịch-vụ-spotify-của-bạn"
      ></a
      ><a></a>Quyền sử dụng dịch vụ Spotify của bạn
    </h2>
    <p><u>Truy cập Dịch vụ Spotify</u></p>
    <p>
      Tùy thuộc vào sự tuân thủ của bạn đối với các Điều khoản này (bao gồm bất
      kỳ điều khoản và điều kiện áp dụng nào khác), chúng tôi cấp cho bạn quyền
      hạn chế, không độc quyền, có thể hủy ngang để sử dụng Dịch vụ Spotify và
      Nội dung (gọi chung là "<strong>Quyền truy cập</strong>"). Quyền truy cập
      này sẽ vẫn có hiệu lực trừ khi bạn hoặc Spotify chấm dứt và cho đến khi
      bạn chấm dứt quyền truy cập. Bạn đồng ý rằng bạn sẽ không phân phối lại
      hoặc chuyển giao Dịch vụ Spotify hoặc Nội dung.
    </p>
    <p>
      Các ứng dụng phần mềm Spotify và Nội dung được cấp phép, không được bán
      hoặc chuyển cho bạn và Spotify và các bên cấp phép của họ giữ lại quyền sở
      hữu tất cả các bản sao của ứng dụng phần mềm Spotify và Nội dung ngay cả
      sau khi cài đặt trên thiết bị của bạn.
    </p>
    <p><u>Quyền sở hữu độc quyền của Spotify</u></p>
    <p>
      Dịch vụ Spotify và Nội dung là tài sản của Spotify hoặc các nhà cấp phép
      của Spotify. Tất cả nhãn hiệu, dấu hiệu dịch vụ, tên thương mại, logo, tên
      miền, và mọi đặc điểm khác của nhãn hiệu Spotify (các "Đặc điểm nhãn hiệu
      Spotify") là tài sản của riêng Spotify hoặc các nhà cấp phép của Spotify.
      Các Điều khoản này không cấp cho bạn bất kỳ quyền sử dụng bất kỳ Đặc điểm
      nhãn hiệu Spotify nào dù là để sử dụng cho mục đích thương mại hay phi
      thương mại.
    </p>
    <p>
      Bạn đồng ý tuân thủ
      <a href="https://www.spotify.com/uk/legal/user-guidelines/"
        ><u>Hướng dẫn sử dụng Spotify</u></a
      >
      và không sử dụng Dịch vụ Spotify, Nội dung hoặc bất kỳ phần nào của các
      điều khoản này dưới bất kỳ hình thức nào mà không được cho phép rõ ràng.
    </p>
    <h2>
      <a href="#thanh-toán-và-hủy-bỏ" id="thanh-toán-và-hủy-bỏ"
        >Thanh toán và hủy bỏ</a
      >
    </h2>
    <h3><a href="#thanh-toán" id="thanh-toán"></a><a></a>Thanh toán</h3>
    <p>
      Bạn có thể mua Đăng ký có phí trực tiếp từ Spotify hoặc thông qua bên thứ
      ba bằng cách:
    </p>
    <p>
      ● thanh toán trước phí đăng ký hàng tháng hoặc một số khoảng thời gian
      định kỳ khác được tiết lộ cho bạn trước khi mua hàng; hoặc
    </p>
    <p>
      ● thanh toán trước trao cho bạn quyền truy cập Dịch vụ Spotify trong một
      khoảng thời gian cụ thể ("<strong>Giai đoạn trả trước</strong>").
    </p>
    <p>
      Thuế suất được tính dựa trên thông tin bạn cung cấp và tỉ giá áp dụng tại
      thời điểm tính phí hàng tháng của bạn.
    </p>
    <p><a></a></p>
    <p>
      Nếu bạn mua quyền truy cập vào Đăng ký có phí thông qua bên thứ ba, các
      điều khoản và điều kiện riêng biệt với bên thứ ba đó có thể áp dụng cho
      việc bạn sử dụng Dịch vụ Spotify bên cạnh các Điều khoản này. Nếu bạn mua
      Đăng ký có phí bằng cách sử dụng mã, thẻ quà tặng, ưu đãi trả trước hoặc
      ưu đãi khác được cung cấp hoặc bán bởi hoặc thay mặt cho Spotify để truy
      cập vào Đăng ký có phí ("<strong>Mã</strong>"), bạn đồng ý với
      <a href="https://www.spotify.com/us/legal/gift-card/"
        ><u>Điều khoản thẻ</u></a
      >
      Spotify.
    </p>
    <p><u>Thay đổi giá và thuế</u></p>
    <p>
      Theo thời gian, Spotify có thể thay đổi giá cho Đăng ký có phí, bao gồm
      phí đăng ký định kỳ, Thời gian trả trước (cho các kỳ chưa thanh toán) hoặc
      Mã (được định nghĩa ở trên) và sẽ thông báo trước cho bạn bất kỳ thay đổi
      về giá nào trên thông báo hợp lý. Thay đổi mức giá sẽ có hiệu lực vào đầu
      thời gian đăng ký sử dụng dịch vụ tiếp theo sau ngày thay đổi mức phí.
      Tuân theo luật pháp hiện hành, việc bạn tiếp tục sử dụng Dịch vụ Spotify
      sau khi thay đổi về giá có hiệu lực nghĩa là bạn chấp nhận mức giá mới.
      Nếu bạn không đồng ý với thay đổi giá, bạn có thể từ chối thay đổi bằng
      cách hủy Đăng ký có phí áp dụng trước khi thay đổi giá có hiệu lực.
    </p>
    <p>
      Thuế suất được tính dựa trên mức giá áp dụng tại thời điểm tính phí hàng
      tháng của bạn. Những khoản tiền này có thể thay đổi theo thời gian với yêu
      cầu thuế địa phương tại quốc gia, tiểu bang, lãnh thổ hoặc thậm chí là
      thành phố của bạn. Mọi thay đổi về mức thuế sẽ được tự động áp dụng dựa
      trên thông tin tài khoản mà bạn cung cấp
    </p>
    <h3>
      <a href="#gia-hạn-và-hủy-bỏ" id="gia-hạn-và-hủy-bỏ"></a><a></a>Gia hạn và
      hủy bỏ
    </h3>
    <p>
      Ngoại trừ các Đăng ký có phí cho một Giai đoạn trả trước, khoản thanh toán
      của bạn cho Spotify hoặc bên thứ ba mà qua đó bạn đã mua Đăng ký có phí sẽ
      tự động gia hạn vào cuối thời hạn đăng ký hiện hành, trừ khi bạn hủy Đăng
      ký có phí trước khi kết thúc thời hạn đăng ký hiện tại. Hãy liên hệ với
      đội ngũ Dịch vụ khách hàng
      <a
        href="https://support.spotify.com/us/contact-spotify-support/?_ga=2.242801345.2113527512.1615794512-1876599584.1615794512"
        ><u>tại đây</u></a
      >
      để được hướng dẫn về cách hủy bỏ. Việc hủy sẽ có hiệu lực vào ngày sau
      ngày cuối cùng của thời hạn đăng ký hiện tại và bạn sẽ được hạ cấp xuống
      phiên bản miễn phí của Dịch vụ Spotify. Chúng tôi không hoàn tiền hoặc tín
      dụng cho bất kỳ thời hạn đăng ký một phần nào, trừ khi được nêu rõ trong
      các Điều khoản này.
    </p>
    <p>
      Nếu bạn đã mua Đăng ký có phí bằng Mã, đăng ký của bạn sẽ tự động chấm dứt
      vào cuối giai đoạn được nêu trong Mã, hoặc khi không có đủ số dư trả trước
      để thanh toán cho Dịch vụ Spotify.
    </p>
    <p><strong>Quyền rút lui</strong></p>
    <p>
      Nếu bạn đăng ký Dùng thử, bạn đồng ý rằng quyền rút khỏi Đăng ký có phí mà
      thông qua đó bạn nhận được bản Dùng thử sẽ kết thúc mười bốn (14) ngày sau
      khi bạn bắt đầu Dùng thử. Nếu bạn không hủy Đăng ký có phí trước khi bản
      Dùng thử kết thúc, bạn sẽ mất quyền rút lui và ủy quyền cho Spotify tự
      động tính phí theo thỏa thuận mỗi tháng cho đến khi bạn hủy Đăng ký có
      phí. Đối với các bản dùng thử chưa đầy mười bốn (14) ngày, bạn đồng ý rõ
      ràng để chúng tôi cung cấp cho bạn dịch vụ có trả phí ngay sau khi kết
      thúc bản dùng thử của bạn và từ lúc đó bạn mất quyền rút lui của mình.
    </p>
    <p>
      Nếu bạn mua Đăng ký có phí mà không Dùng thử, bạn đồng ý rằng bạn có mười
      bốn (14) ngày sau khi bạn mua để rút lui vì bất kỳ lý do gì và phải trả
      cho chúng tôi dịch vụ được cung cấp cho đến khi bạn cho chúng tôi biết
      rằng bạn đã đổi ý. . Bạn đồng ý rõ ràng để chúng tôi cung cấp dịch vụ cho
      bạn ngay sau khi mua, rằng bạn mất quyền lui và cho phép Spotify tự động
      tính phí cho bạn mỗi tháng cho đến khi bạn hủy.
    </p>
    <h2>
      <a href="#hướng-dẫn-sử-dụng" id="hướng-dẫn-sử-dụng"></a><a></a>Hướng dẫn
      sử dụng
    </h2>
    <p>
      Chúng tôi đã thiết lập hướng dẫn sử dụng Dịch vụ Spotify để đảm bảo rằng
      Dịch vụ Spotify luôn mang đến trải nghiệm thú vị cho mọi người ("<strong
        >Hướng dẫn sử dụng Spotify</strong
      >"). Khi sử dụng Dịch vụ Spotify, bạn phải tuân thủ<a
        href="http://spotify.com/legal/user-guidelines"
        ><u> Hướng dẫn sử dụng Spotify</u></a
      >
      cũng như tất cả các luật, quy tắc và quy định hiện hành, đồng thời tôn
      trọng quyền sở hữu trí tuệ, quyền riêng tư và các quyền khác của bên thứ
      ba.
    </p>
    <h2>
      <a href="#tài-khoản-nhãn-hiệu" id="tài-khoản-nhãn-hiệu"></a><a></a>Tài
      khoản nhãn hiệu
    </h2>
    <p>
      Nếu bạn lập tài khoản Spotify thay mặt cho một công ty, tổ chức, tổ chức,
      thực thể hoặc nhãn hiệu ("<strong>Nhãn hiệu</strong>" và tài khoản như vậy
      gọi là "<strong>Tài khoản nhãn hiệu</strong>"), các thuật ngữ
      "<strong>bạn</strong>" và "<strong>của bạn</strong>" được sử dụng trong
      các Điều khoản này (bao gồm các điều khoản và điều kiện khác của Spotify
      được kết hợp ở đây), hãy áp dụng cho cả bạn và Nhãn hiệu.
    </p>
    <p>
      Nếu bạn tạo Tài khoản nhãn hiệu, bạn tuyên bố và bảo đảm rằng bạn được ủy
      quyền cấp tất cả các quyền và giấy phép được cung cấp trong các Điều khoản
      này (bao gồm bất kỳ điều khoản và điều kiện hiện hành nào khác của
      Spotify) và ràng buộc Nhãn hiệu với các Điều khoản và điều kiện này.
    </p>
    <p>
      Một Nhãn hiệu có thể theo dõi người dùng và tạo và chia sẻ danh sách bài
      hát, với điều kiện là Nhãn hiệu không thực hiện bất kỳ hành động nào ngụ ý
      một sự ủng hộ hoặc mối quan hệ thương mại giữa Nhãn hiệu và người dùng,
      nghệ sĩ, nhạc sĩ, hoặc bất kỳ cá nhân nào khác, trừ khi Nhãn hiệu nhận
      được quyền một cách độc lập ngụ ý sự ủng hộ đó. Ngoài ra, Nhãn hiệu phải
      minh bạch với người dùng của chúng tôi về việc công bố bất kỳ sự ủng hộ
      hoặc cân nhắc nào được cung cấp cho các nghệ sĩ, nhạc sĩ, người dùng hoặc
      bất kỳ bên nào khác và phải tuân thủ tất cả luật pháp, quy định hiện hành
      và quy tắc thực hành khi tham gia vào các hoạt động nêu trên.
    </p>
    <h2>
      <a
        href="#kiểm-soát-xuất-khẩu-và-lệnh-trừng-phạt"
        id="kiểm-soát-xuất-khẩu-và-lệnh-trừng-phạt"
      ></a
      ><a></a>Kiểm soát xuất khẩu và lệnh trừng phạt
    </h2>
    <p>
      Các sản phẩm của Spotify có thể phải tuân theo luật pháp Hoa Kỳ Luật và
      quy định kiểm soát xuất khẩu và tái xuất khẩu hoặc luật tương tự áp dụng ở
      các khu vực pháp lý khác, bao gồm Quy định quản lý xuất khẩu ("EAR") được
      Hoa Kỳ duy trì Bộ Thương mại, lệnh trừng phạt thương mại và kinh tế được
      duy trì bởi Văn phòng Kiểm soát tài sản nước ngoài của Bộ Ngân khố
      ("<strong>OFAC</strong>") và Quy định buôn bán vũ khí quốc tế ("ITAR") do
      Bộ Ngoại giao Hoa Kỳ duy trì. Bạn bảo đảm rằng bạn (1) không ở bất kỳ quốc
      gia nào mà Hoa Kỳ đã áp đặt lệnh cấm vận hoặc đã áp dụng bất kỳ lệnh trừng
      phạt kinh tế nào; và (2) không phải là bên bị từ chối theo quy định trong
      bất kỳ luật hoặc quy định xuất khẩu hoặc tái xuất khẩu hiện hành nào hoặc
      luật tương tự áp dụng ở các khu vực pháp lý khác hoặc được liệt kê ở bất
      kỳ danh sách các bên bị cấm hoặc hạn chế nào của chính phủ Hoa Kỳ.
    </p>
    <p>
      Bạn đồng ý tuân thủ tất cả các luật và quy định kiểm soát xuất khẩu và tái
      xuất khẩu hiện hành, bao gồm nhưng không giới hạn ở các lệnh trừng phạt
      thương mại và kinh tế do OFAC duy trì. Cụ thể, bạn đồng ý không trực tiếp
      hoặc gián tiếp sử dụng, bán, xuất khẩu, tái xuất khẩu, chuyển giao, chuyển
      hướng, phát hành hoặc tiêu hủy bất kỳ sản phẩm, phần mềm hoặc công nghệ
      nào (bao gồm sản phẩm bắt nguồn từ hoặc dựa trên công nghệ đó) nhận được
      từ Spotify theo các Điều khoản này cho bất kỳ đích đến, tổ chức hoặc cá
      nhân hoặc cho bất kỳ mục đích sử dụng cuối nào bị cấm theo EAR, lệnh trừng
      phạt kinh tế và thương mại do OFAC duy trì, hoặc bất kỳ luật hoặc quy định
      hiện hành nào của Hoa Kỳ hoặc bất kỳ khu vực pháp lý nào khác mà không có
      sự cho phép trước đó từ các cơ quan chính phủ có thẩm quyền theo yêu cầu
      của những luật và quy định đó.
    </p>
    <h1>
      <a
        href="#4-nội-dung-và-quyền-sở-hữu-trí-tuệ"
        id="4-nội-dung-và-quyền-sở-hữu-trí-tuệ"
      ></a
      ><a></a>4. Nội dung và quyền sở hữu trí tuệ
    </h1>
    <h2>
      <a href="#nội-dung-người-dùng" id="nội-dung-người-dùng"></a><a></a>Nội
      dung người dùng
    </h2>
    <h3>
      <a
        href="#nội-dung-bạn-đăng-trên-dịch-vụ"
        id="nội-dung-bạn-đăng-trên-dịch-vụ"
      ></a
      ><a></a>Nội dung bạn đăng trên dịch vụ
    </h3>
    <p>
      Người dùng Spotify có thể đăng, tải lên hoặc đóng góp nội dung vào Dịch vụ
      Spotify ("<strong>Nội dung người dùng</strong>"). Để tránh nghi ngờ,
      "<strong>Nội dung người dùng</strong>" bao gồm tất cả thông tin, tài liệu
      và nội dung khác được thêm vào, tạo, tải lên, gửi, phân phối, hoặc được
      đăng lên Dịch vụ Spotify (bao gồm
      <a href="https://community.spotify.com/"
        ><u>Cộng đồng hỗ trợ Spotify</u></a
      >) bởi người dùng.
    </p>
    <p>
      Bạn hoàn toàn chịu trách nhiệm cho tất cả Nội dung người dùng mà bạn đăng.
    </p>
    <p>
      Bạn cam kết rằng, đối với bất kỳ Nội dung người dùng nào mà bạn đăng trên
      Spotify, (1) bạn sở hữu hoặc có quyền đăng Nội dung người dùng đó; (2) Nội
      dung người dùng đó hoặc việc sử dụng Nội dung người dùng đó bởi Spotify
      theo giấy phép được cấp dưới đây, không: (i) vi phạm các Điều khoản này,
      luật pháp hiện hành, hoặc quyền sở hữu trí tuệ hoặc các quyền khác của bất
      kỳ bên thứ ba nào; hoặc (ii) Nội dung người dùng như vậy không ngụ ý bất
      kỳ liên kết hoặc sự ủng hộ nào với bạn hoặc Nội dung người dùng của bạn do
      Spotify hoặc bất kỳ nghệ sĩ, ban nhạc, hãng đĩa hoặc cá nhân hoặc thực thể
      nào khác mà không có sự đồng ý trước rõ ràng bằng văn bản từ Spotify hoặc
      cá nhân hay thực thể như vậy.
    </p>
    <p>
      Khi đăng hoặc chia sẻ Nội dung người dùng hoặc thông tin khác trên Dịch vụ
      Spotify, vui lòng lưu ý rằng nội dung và thông tin khác sẽ được truy cập
      công khai, người khác có thể sử dụng và chia sẻ lại trên Dịch vụ Spotify
      và trên web, vì vậy hãy thận trọng khi đăng hoặc chia sẻ trên Dịch vụ
      Spotify và lưu ý đến cài đặt tài khoản của bạn. Spotify không chịu trách
      nhiệm về những gì bạn hoặc những người khác đăng hoặc chia sẻ trên Dịch vụ
      Spotify.
    </p>
    <h3>
      <a
        href="#giám-sát-nội-dung-người-dùng"
        id="giám-sát-nội-dung-người-dùng"
      ></a
      ><a></a>Giám sát nội dung người dùng
    </h3>
    <p>
      Spotify có thể, nhưng không có nghĩa vụ giám sát hoặc xem xét Nội dung
      người dùng. Spotify bảo lưu quyền xóa hoặc vô hiệu hóa quyền truy cập vào
      bất kỳ Nội dung người dùng nào vì bất kỳ lý do nào hoặc không có lý do
      nào. Spotify có thể thực hiện những hành động này mà không thông báo trước
      cho bạn.
    </p>
    <h2>
      <a
        href="#giấy-phép-mà-bạn-cấp-cho-chúng-tôi"
        id="giấy-phép-mà-bạn-cấp-cho-chúng-tôi"
      ></a
      ><a></a>Giấy phép mà bạn cấp cho chúng tôi
    </h2>
    <h3>
      <a href="#nội-dung-người-dùng-1" id="nội-dung-người-dùng-1"></a><a></a>Nội
      dung người dùng
    </h3>
    <p>
      Bạn giữ quyền sở hữu Nội dung người dùng của mình khi đăng lên Dịch vụ.
      Tuy nhiên, để chúng tôi cung cấp Nội dung người dùng của bạn trên Dịch vụ
      Spotify, chúng tôi cần giấy phép hạn chế từ bạn cho Nội dung người dùng
      đó. Theo đó, bạn cấp cho Spotify một giấy phép phụ, không độc quyền, có
      thể chuyển nhượng, miễn phí bản quyền, đã thanh toán đầy đủ, giấy phép
      toàn cầu, không thể hủy ngang để tái tạo, cung cấp, thực hiện và hiển thị,
      biên dịch, sửa đổi, tạo các sản phẩm phái sinh từ, phân phối và theo cách
      khác sử dụng bất kỳ Nội dung người dùng nào như vậy thông qua bất kỳ
      phương tiện nào, dù riêng lẻ hoặc kết hợp với Nội dung hoặc tài liệu khác,
      theo bất kỳ cách nào và bằng bất kỳ phương thức, phương pháp hoặc công
      nghệ nào, dù được biết đến hoặc sau đây được tạo ra, có liên quan đến Dịch
      vụ Spotify. Nếu áp dụng và trong phạm vi được luật pháp hiện hành cho
      phép, bạn cũng đồng ý khước từ và không thực thi bất kỳ "quyền đạo đức"
      hoặc các quyền tương đương nào, chẳng hạn như quyền được xác định là tác
      giả của bất kỳ Nội dung người dùng nào, bao gồm Phản hồi, và quyền phản
      đối việc đối xử xúc phạm đối với Nội dung người dùng như vậy.
    </p>
    <h3><a href="#phản-hồi" id="phản-hồi"></a><a></a>Phản hồi</h3>
    <p>
      Nếu bạn đưa ra ý tưởng, đề xuất hoặc phản hồi khác liên quan đến việc sử
      dụng Dịch vụ Spotify hoặc bất kỳ Nội dung nào ("<strong>Phản hồi</strong
      >"), phản hồi đó không phải là thông tin mật và có thể được Spotify sử
      dụng mà không hạn chế và không thanh toán cho bạn. Phản hồi được xem là
      một loại Nội dung người dùng theo các Điều khoản này.
    </p>
    <h3>
      <a href="#thiết-bị-của-bạn" id="thiết-bị-của-bạn"></a><a></a>Thiết bị của
      bạn.
    </h3>
    <p>
      Bạn cũng cấp cho chúng tôi quyền (1) để cho phép Dịch vụ Spotify sử dụng
      bộ xử lý, băng thông và phần cứng lưu trữ trên thiết bị của bạn nhằm hỗ
      trợ hoạt động của Dịch vụ Spotify, (2) cung cấp quảng cáo và các thông tin
      khác cho bạn, và để cho phép đối tác kinh doanh của chúng tôi làm điều
      tương tự, như được phép theo
      <a href="https://www.spotify.com/legal/privacy-policy/"
        ><u>Chính sách quyền riêng tư của Spotify</u></a
      >.
    </p>
    <h2>
      <a href="#trải-nghiệm-nội-dung" id="trải-nghiệm-nội-dung"></a><a></a>Trải
      nghiệm nội dung
    </h2>
    <p>
      Trong bất kỳ phần nào của Dịch vụ Spotify, Nội dung mà bạn truy cập, bao
      gồm lựa chọn và bố trí nội dung, có thể bị ảnh hưởng bởi các cân nhắc
      thương mại, bao gồm thỏa thuận của Spotify với các bên thứ ba.
    </p>
    <p>
      Một số Nội dung được cấp phép bởi, được cung cấp cho, được tạo bởi hoặc
      được cung cấp bởi Spotify (ví dụ: podcast) có thể kết hợp quảng cáo và
      Spotify không chịu trách nhiệm cho bất kỳ quảng cáo nào như vậy.
    </p>
    <h2>
      <a href="#khiếu-nại-vi-phạm" id="khiếu-nại-vi-phạm"></a><a></a>Khiếu nại
      vi phạm
    </h2>
    <p>
      Spotify tôn trọng quyền sở hữu trí tuệ. Nếu bạn tin rằng bất kỳ Nội dung
      nào vi phạm quyền bản quyền của bạn, vui lòng xem
      <a href="http://spotify.com/legal/copyright-policy"
        ><u>Chính sách bản quyền Spotify.</u></a
      >
    </p>
    <h1>
      <a
        href="#5-hỗ-trợ-khách-hàng-thông-tin-câu-hỏi-và-khiếu-nại"
        id="5-hỗ-trợ-khách-hàng-thông-tin-câu-hỏi-và-khiếu-nại"
      ></a
      ><a></a>5. Hỗ trợ khách hàng, thông tin, câu hỏi và khiếu nại
    </h1>
    <h2>
      <a href="#cộng-đồng-hỗ-trợ-spotify" id="cộng-đồng-hỗ-trợ-spotify"></a
      ><a></a>Cộng đồng hỗ trợ Spotify
    </h2>
    <p>
      <a href="https://community.spotify.com/"
        ><u>Cộng đồng hỗ trợ Spotify</u></a
      >
      là nơi để thảo luận và trao đổi thông tin, mẹo và các tài liệu khác liên
      quan đến Dịch vụ Spotify. Khi sử dụng Cộng đồng hỗ trợ Spotify, bạn đồng ý
      với
      <a
        href="https://www.spotify.com/us/legal/support-community-end-user-agreement/"
        ><u>Điều khoản cộng đồng</u></a
      >.
    </p>
    <h2>
      <a
        href="#hỗ-trợ-khách-hàng-thông-tin-câu-hỏi-khiếu-nại"
        id="hỗ-trợ-khách-hàng-thông-tin-câu-hỏi-khiếu-nại"
      ></a
      ><a></a>Hỗ trợ khách hàng, thông tin, câu hỏi, khiếu nại
    </h2>
    <p>
      Đối với hỗ trợ khách hàng về các câu hỏi liên quan đến tài khoản và thanh
      toán ("<strong>Truy vấn hỗ trợ khách hàng</strong>"), vui lòng sử dụng tài
      nguyên Hỗ trợ khách hàng được liệt kê trong phần
      <a href="https://www.spotify.com/us/about-us/contact/"
        ><u>Giới thiệu về chúng tôi</u></a
      >
      trên trang web của chúng tôi.
    </p>
    <p>
      Nếu bạn có bất kỳ câu hỏi nào liên quan đến Dịch vụ Spotify hoặc Điều
      khoản này (bao gồm bất kỳ điều khoản và điều kiện bổ sung nào được kết hợp
      ở đây), vui lòng liên hệ với Dịch vụ khách hàng Spotify bằng cách truy cập
      phần Giới thiệu về chúng tôi trên trang web của chúng tôi.
    </p>
    <p>
      Nếu bạn sống ở Liên minh châu Âu, bạn cũng có thể gửi khiếu nại ở nền tảng
      trực tuyến để giải quyết tranh chấp thay thế (nền tảng ODR). Bạn có thể
      tìm thấy nền tảng ODR thông qua liên kết sau:
      <a href="https://ec.europa.eu/consumers/odr"
        ><u>https://ec.europa.eu/consumers/odr</u></a
      >.
    </p>
    <h1>
      <a href="#6-vấn-đề-và-tranh-chấp" id="6-vấn-đề-và-tranh-chấp"></a
      ><a></a>6. Vấn đề và tranh chấp
    </h1>
    <h2>
      <a
        href="#tạm-dừng-và-chấm-dứt-dịch-vụ-spotify"
        id="tạm-dừng-và-chấm-dứt-dịch-vụ-spotify"
      ></a
      ><a></a>Tạm dừng và chấm dứt Dịch vụ Spotify
    </h2>
    <p>
      Các Điều khoản này sẽ tiếp tục áp dụng cho bạn cho đến khi bạn hoặc
      Spotify chấm dứt việc sử dụng. Spotify có thể chấm dứt các Điều khoản này
      (bao gồm bất kỳ điều khoản và điều kiện bổ sung nào được kết hợp trong tài
      liệu này) hoặc tạm dừng quyền truy cập của bạn vào Dịch vụ Spotify bất kỳ
      lúc nào nếu chúng tôi tin rằng bạn đã vi phạm bất kỳ Điều khoản nào trong
      số này, nếu chúng tôi ngừng cung cấp Dịch vụ Spotify hoặc bất kỳ thành
      phần quan trọng nào của dịch vụ trên thông báo hợp lý cho bạn hoặc vì
      chúng tôi tin rằng cần thiết để tuân thủ luật pháp hiện hành. Nếu bạn hoặc
      Spotify chấm dứt các Điều khoản này hoặc nếu Spotify tạm dừng quyền truy
      cập của bạn vào Dịch vụ Spotify, bạn đồng ý rằng Spotify sẽ, tùy thuộc vào
      luật pháp hiện hành, không có trách nhiệm pháp lý hoặc trách nhiệm đối với
      bạn, và (trừ khi được quy định rõ ràng trong các Điều khoản này), Spotify
      sẽ không hoàn lại bất kỳ khoản tiền nào mà bạn đã thanh toán. Bạn có thể
      chấm dứt Điều khoản này bất cứ lúc nào, trong trường hợp này bạn không thể
      tiếp tục truy cập hoặc sử dụng Dịch vụ Spotify. Để tìm hiểu cách chấm dứt
      tài khoản Spotify của bạn, vui lòng sử dụng tài nguyên Hỗ trợ khách hàng
      trên trang
      <a href="https://www.spotify.com/us/about-us/contact/"
        >Giới thiệu về chúng tôi</a
      >.
    </p>
    <p>
      Phần 4 (Nội dung và quyền sở hữu trí tuệ), 3 (Bạn sử dụng Dịch vụ
      Spotify), 2 (Dịch vụ Spotify do chúng tôi cung cấp), 6 (Vấn đề và tranh
      chấp), 7 (Giới thiệu về các Điều khoản này) trong tài liệu này, cũng như
      bất kỳ phần nào khác của các Điều khoản này, rõ ràng hoặc theo bản chất,
      phải duy trì hiệu lực ngay cả sau khi chấm dứt các Điều khoản này, sẽ tiếp
      tục có hiệu lực sau khi chấm dứt.
    </p>
    <h2><a href="#"></a><a></a></h2>
    <h2>
      <a href="#tuyên-bố-miễn-trừ-bảo-hành" id="tuyên-bố-miễn-trừ-bảo-hành"></a
      ><a></a>Tuyên bố miễn trừ bảo hành
    </h2>
    <p>
      <strong
        >Spotify sẽ cung cấp Dịch vụ Spotify bằng cách sử dụng sự cẩn thận và kỹ
        năng hợp lý và phù hợp với mọi thông số kỹ thuật của Dịch vụ Spotify do
        Spotify cung cấp, tuy nhiên, tùy theo đó, Dịch vụ Spotify được cung cấp
        "nguyên trạng" và "như sẵn có" mà không có bất kỳ hình thức bảo đảm nào,
        dù rõ ràng, ngụ ý hay theo luật định. Ngoài ra, Spotify và tất cả chủ sở
        hữu nội dung đều từ chối mọi đảm bảo rõ ràng, ngụ ý và theo luật định về
        nội dung, bao gồm bảo đảm về chất lượng thỏa đáng, khả năng bán được, sự
        phù hợp cho một mục đích cụ thể hoặc không vi phạm. Spotify và bất kỳ
        chủ sở hữu nội dung nào không đảm bảo rằng Dịch vụ Spotify hoặc nội dung
        không chứa phần mềm độc hại hoặc các thành phần có hại khác. Ngoài ra,
        Spotify không tuyên bố về, cũng không bảo đảm hoặc chịu bất kỳ trách
        nhiệm nào đối với bất kỳ ứng dụng bên thứ ba nào (hoặc nội dung của ứng
        dụng đó), nội dung người dùng, thiết bị hoặc bất kỳ sản phẩm hoặc dịch
        vụ nào được quảng cáo, quảng cáo hoặc đề nghị bởi bên thứ ba trên hoặc
        thông qua Dịch vụ Spotify hoặc bất kỳ trang web được gắn siêu liên kết,
        và Spotify không chịu trách nhiệm cho bất kỳ giao dịch nào giữa bạn và
        bất kỳ nhà cung cấp bên thứ ba nào ở trên. Không có lời khuyên hoặc
        thông tin nào cho dù bạn có nhận được bằng lời hoặc bằng văn bản từ
        Spotify sẽ thay mặt cho Spotify tạo ra bất kỳ bảo hành nào. Trong khi
        dùng Dịch vụ Spotify, bạn có thể có quyền truy cập vào các tính năng lọc
        nội dung người lớn, nhưng việc sử dụng các tính năng này vẫn có thể dẫn
        đến một số nội dung người lớn được phục vụ và bạn không nên dựa vào
        những tính năng này để lọc tất cả nội dung người lớn. Phần này áp dụng ở
        mức tối đa được luật pháp hiện hành cho phép.</strong
      >
    </p>
    <p>
      Một số khu vực pháp lý không cho phép loại trừ các bảo đảm ngụ ý hoặc các
      giới hạn đối với các quyền theo luật định hiện hành của người tiêu dùng,
      do đó, các loại trừ và giới hạn trong phần này có thể không áp dụng cho
      bạn và không có gì ảnh hưởng đến các quyền theo luật định của bạn.
    </p>
    <h2>
      <a
        href="#giới-hạn-trách-nhiệm-pháp-lý-và-thời-gian-gửi-yêu-cầu-bồi-thường"
        id="giới-hạn-trách-nhiệm-pháp-lý-và-thời-gian-gửi-yêu-cầu-bồi-thường"
      ></a
      ><a></a>Giới hạn trách nhiệm pháp lý và thời gian gửi yêu cầu bồi thường
    </h2>
    <p>
      <strong
        >Tùy theo luật áp dụng, bạn đồng ý rằng biện pháp khắc phục duy nhất và
        độc quyền của bạn đối với bất kỳ vấn đề nào hoặc không hài lòng nào với
        Dịch vụ Spotify là gỡ cài đặt bất kỳ phần mềm Spotify nào và ngừng sử
        dụng Dịch vụ Spotify. Bạn đồng ý rằng Spotify không có nghĩa vụ hoặc
        trách nhiệm pháp lý phát sinh từ hoặc liên quan đến các ứng dụng của bên
        thứ ba hoặc nội dung của ứng dụng được cung cấp thông qua hoặc có liên
        quan đến Dịch vụ Spotify, và trong khi mối quan hệ của bạn với các ứng
        dụng bên thứ ba như vậy có thể được chi phối bởi các thỏa thuận riêng
        biệt với các bên thứ ba đó, biện pháp duy nhất và độc quyền của bạn, đối
        với Spotify, vì bất kỳ vấn đề nào hoặc không hài lòng với bất kỳ ứng
        dụng bên thứ ba nào hoặc nội dung của bên thứ ba đó, là gỡ cài đặt hoặc
        dừng sử dụng bên thứ ba đó.</strong
      >
    </p>
    <p>
      **Trong mọi trường hợp, Spotify, cán bộ, cổ đông, nhân viên, đại lý, giám
      đốc, công ty con, chi nhánh, người kế nhiệm, người chuyển nhượng, các nhà
      cung cấp hoặc người cấp giấy phép phải chịu trách nhiệm về (1) mọi trường
      hợp gián tiếp, đặc biệt, ngẫu nhiên, trừng phạt, gương mẫu, hoặc thiệt hại
      do hậu quả; (2) bất kỳ mất quyền sử dụng, dữ liệu, kinh doanh hoặc lợi
      nhuận (dù trực tiếp hay gián tiếp), trong tất cả các trường hợp phát sinh
      từ việc sử dụng hoặc không thể sử dụng Dịch vụ Spotify, thiết bị, ứng dụng
      bên thứ ba hoặc nội dung ứng dụng bên thứ ba; hoặc (3) trách nhiệm pháp lý
      tổng hợp cho tất cả các khiếu nại liên quan đến Dịch vụ Spotify, các ứng
      dụng của bên thứ ba hoặc nội dung ứng dụng của bên thứ ba lớn hơn (a) số
      tiền mà bạn đã thanh toán cho Spotify trong mười hai tháng trước lần khiếu
      nại đầu tiên; hoặc (b) $30.00. Mọi trách nhiệm pháp lý mà chúng tôi có đối
      với những tổn thất mà bạn chịu được giới hạn nghiêm ngặt ở những tổn thất
      có thể lường trước một cách hợp lý. **
    </p>
    <p>
      <strong
        >Để làm rõ, các điều khoản này không hạn chế trách nhiệm pháp lý của
        Spotify đối với gian lận, trình bày sai trái gian lận, tử vong hoặc
        thương tích cá nhân ở mức độ luật pháp hiện hành cấm một giới hạn như
        vậy và đối với bất kỳ trách nhiệm nào khác mà theo luật pháp hiện hành,
        có thể không bị giới hạn hoặc loại trừ.</strong
      >
    </p>
    <p>
      **Ngoại trừ trường hợp hạn chế đó bị cấm theo luật hiện hành, bất kỳ khiếu
      nại nào phát sinh theo các điều khoản này phải được bắt đầu (bằng cách nộp
      đơn yêu cầu trọng tài hoặc gửi một hành động cá nhân theo thỏa thuận trọng
      tài bên dưới) trong vòng một (1) năm sau ngày bên khẳng định yêu cầu bồi
      thường biết trước hoặc hợp lý nên biết về hành động, thiếu sót, hoặc mặc
      định làm phát sinh khiếu nại; và sẽ không có quyền đối với bất kỳ biện
      pháp khắc phục nào đối với bất kỳ khiếu nại nào không được khẳng định
      trong khoảng thời gian đó. **
    </p>
    <h2>
      <a href="#quyền-của-bên-thứ-ba" id="quyền-của-bên-thứ-ba"></a><a></a>Quyền
      của bên thứ ba
    </h2>
    <p>
      Bạn xác nhận và đồng ý rằng chủ sở hữu Nội dung và một số nhà phân phối
      nhất định (chẳng hạn như nhà cung cấp cửa hàng ứng dụng) là người thụ
      hưởng mục tiêu của các Điều khoản này và có quyền thực thi các Điều khoản
      này trực tiếp đối với bạn. Ngoài những điều khoản quy định trong phần này,
      những Điều khoản này không nhằm cấp quyền cho bất kỳ ai trừ bạn và Spotify
      và trong mọi trường hợp, các Điều khoản này sẽ không tạo ra bất kỳ quyền
      của người thụ hưởng bên thứ ba nào.
    </p>
    <p>
      Nếu bạn đã tải xuống bất kỳ ứng dụng phần mềm di động nào của chúng tôi
      (từng ứng dụng gọi chung là "<strong>Ứng dụng</strong>") từ Apple Inc.
      ("<strong>Apple</strong>") App Store hoặc nếu bạn đang sử dụng ứng dụng
      trên thiết bị iOS, bạn xác nhận rằng bạn đã đọc, hiểu và đồng ý với thông
      báo sau về Apple. Các Điều khoản này chỉ là điều khoản giữa bạn và
      Spotify, không phải với Apple và Apple không chịu trách nhiệm đối với Dịch
      vụ Spotify và nội dung của các điều khoản này. Apple không có bất kỳ nghĩa
      vụ nào phải cung cấp bất kỳ dịch vụ bảo trì và hỗ trợ nào liên quan đến
      Dịch vụ Spotify. Trong trường hợp Dịch vụ Spotify không tuân thủ bất kỳ
      bảo hành hiện hành nào, bạn có thể thông báo cho Apple và Apple sẽ hoàn
      lại giá mua Ứng dụng áp dụng cho bạn; và, trong phạm vi tối đa được luật
      hiện hành cho phép, Apple không có nghĩa vụ bảo hành nào khác đối với Dịch
      vụ Spotify. Apple không chịu trách nhiệm giải quyết bất kỳ khiếu nại nào
      của bạn hoặc bất kỳ bên thứ ba nào liên quan đến Dịch vụ Spotify hoặc sở
      hữu hoặc sử dụng Dịch vụ Spotify, bao gồm: (1) khiếu nại về trách nhiệm
      sản phẩm; (2) mọi tuyên bố rằng Dịch vụ Spotify không tuân thủ bất kỳ yêu
      cầu pháp lý hoặc quy định hiện hành nào; (3) khiếu nại phát sinh theo luật
      bảo vệ người tiêu dùng hoặc luật tương tự; và (4) khiếu nại liên quan đến
      vi phạm quyền sở hữu trí tuệ. Apple không chịu trách nhiệm điều tra, bảo
      vệ, dàn xếp và miễn trừ mọi khiếu nại của bên thứ ba rằng Dịch vụ Spotify
      hoặc sở hữu và sử dụng ứng dụng của bạn vi phạm quyền sở hữu trí tuệ của
      bên thứ ba đó. Bạn đồng ý tuân thủ mọi điều khoản hiện hành của bên thứ ba
      khi sử dụng dịch vụ Spotify. Apple và các công ty con của Apple là người
      thụ hưởng bên thứ ba của các Điều khoản này và khi bạn chấp nhận các Điều
      khoản này, Apple sẽ có quyền (và sẽ được coi là đã chấp nhận quyền) thực
      thi các Điều khoản này với tư cách là người thụ hưởng bên thứ ba của các
      Điều khoản này.
    </p>
    <h2><a href="#bồi-thường" id="bồi-thường"></a><a></a>Bồi thường</h2>
    <p>
      Bạn đồng ý bồi thường và giữ cho Spotify tránh khỏi và không chịu bất kỳ
      tổn thất trực tiếp nào có thể dự đoán được, thiệt hại và chi phí hợp lý
      (bao gồm phí và chi phí luật sư hợp lý) bị tổn hại hoặc phải chịu do
      Spotify phát sinh từ hoặc liên quan đến: (1) vi phạm bất kỳ Điều khoản nào
      trong số này (bao gồm bất kỳ điều khoản và điều kiện bổ sung nào được kết
      hợp ở đây); (2) Nội dung người dùng mà bạn đăng tải hoặc đóng góp theo
      cách khác; (3) bất kỳ hoạt động nào mà bạn tham gia hoặc thông qua Dịch vụ
      Spotify; và (4) việc bạn vi phạm bất kỳ luật pháp nào hoặc các quyền của
      bên thứ ba.
    </p>
    <h2>
      <a
        href="#luật-điều-chỉnh-trọng-tài-bắt-buộc-và-địa-điểm"
        id="luật-điều-chỉnh-trọng-tài-bắt-buộc-và-địa-điểm"
      ></a
      ><a></a>Luật điều chỉnh, trọng tài bắt buộc và địa điểm
    </h2>
    <h2>
      <a
        href="#61-luật--khu-vực-pháp-lý-điều-chỉnh"
        id="61-luật--khu-vực-pháp-lý-điều-chỉnh"
      ></a
      ><a></a>6.1 Luật / Khu vực pháp lý điều chỉnh
    </h2>
    <p>
      Trừ khi được yêu cầu khác bởi luật bắt buộc tại quốc gia cư trú của bạn,
      Thỏa thuận (và mọi tranh chấp/khiếu nại không theo hợp đồng phát sinh từ
      hoặc liên quan đến chúng) sẽ tuân theo luật pháp của tiểu bang hoặc quốc
      gia được liệt kê bên dưới, mà không liên quan đến lựa chọn hoặc xung đột
      về nguyên tắc pháp luật.
    </p>
    <p>
      Ngoài ra, bạn và Spotify đồng ý với khu vực pháp lý của các tòa án được
      liệt kê bên dưới để giải quyết mọi tranh chấp, khiếu nại hoặc tranh cãi
      nảy sinh liên quan đến các Thỏa thuận (và mọi tranh chấp/khiếu nại ngoài
      hợp đồng phát sinh từ hoặc liên quan đến các thỏa thuận đó), ngoại trừ
      trong trường hợp theo luật bắt buộc hiện hành, bạn có thể chọn tiến hành
      các thủ tục pháp lý tại quốc gia cư trú của bạn hoặc chúng tôi được yêu
      cầu chỉ tiến hành các thủ tục pháp lý tại quốc gia cư trú của bạn
    </p>
    <table>
      <thead>
        <tr>
          <th>Quốc gia hoặc vùng lãnh thổ</th>
          <th>Lựa chọn luật</th>
          <th>Thẩm quyền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Quốc gia hoặc vùng lãnh thổ</td>
          <td>Lựa chọn luật</td>
          <td>Thẩm quyền</td>
        </tr>
        <tr>
          <td>Tất cả các quốc gia và vùng lãnh thổ có dịch vụ của Spotify.</td>
          <td>Thụy Điển</td>
          <td>Độc quyền; Tòa án Thụy Điển</td>
        </tr>
        <tr>
          <td>
            Bulgaria, Đảo Síp, Estonia, Pháp, Hồng Kông, Latvia, Lithuania,
            Luxembourg, Malta, Monaco, Na Uy, Philippines, Bồ Đào Nha, Slovakia,
            Tây Ban Nha, Thổ Nhĩ Kỳ
          </td>
          <td>Luật Thụy Điển</td>
          <td>Không độc quyền; Tòa án Thụy Điển</td>
        </tr>
        <tr>
          <td>Brazil</td>
          <td>Luật Brazil</td>
          <td>
            Độc quyền; Tòa án Liên bang và Tiểu bang São Paulo, Tiểu bang São
            Paulo, Brazil
          </td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>
            Không áp dụng cho cư dân Quebec: Luật pháp của tỉnh Ontario: Luật
            pháp của tỉnh Quebec, Canada
          </td>
          <td>
            Không áp dụng cho cư dân Quebec: Độc quyền ngoài mục đích thi hành
            phán quyết; Tòa án Ontario, Canada Cư dân Quebec: Tòa án Quebec,
            Canada
          </td>
        </tr>
        <tr>
          <td>
            Argentina, Bolivia, Chile, Colombia, Costa Rica, Cộng hòa Dominica,
            Ecuador, El Salvador, Guatemala, Honduras, Nicaragua, Panama,
            Paraguay, Peru, Uruguay
          </td>
          <td>Bang California, Hoa Kỳ</td>
          <td>
            Độc quyền; Tòa án Liên bang và Tiểu bang Quận San Francisco, CA hoặc
            New York, NY
          </td>
        </tr>
        <tr>
          <td>Vương quốc Anh</td>
          <td>Luật của Anh và xứ Wales</td>
          <td>Độc quyền</td>
        </tr>
      </tbody>
    </table>
    <h2>
      <a href="#62-từ-bỏ-vụ-kiện-tập-thể" id="62-từ-bỏ-vụ-kiện-tập-thể"></a
      ><a></a>6.2 TỪ BỎ VỤ KIỆN TẬP THỂ
    </h2>
    <p>
      NẾU ĐƯỢC CHO PHÉP THEO LUẬT HIỆN HÀNH, BẠN VÀ SPOTIFY ĐỒNG Ý RẰNG MỖI BÊN
      CHỈ CÓ THỂ ĐƯA RA KHIẾU NẠI CHỐNG LẠI BÊN KIA VỚI TƯ CÁCH CÁ NHÂN CỦA BẠN
      VÀ KHÔNG PHẢI VỚI TƯ CÁCH LÀ NGUYÊN ĐƠN HOẶC THÀNH VIÊN TẬP THỂ TRONG BẤT
      KỲ HÀNH ĐỘNG ĐẠI DIỆN HOẶC TẬP THỂ CÓ MỤC ĐÍCH NÀO. Trừ khi cả bạn và
      Spotify đều đồng ý, trọng tài hoặc thẩm phán không được tổng hợp các khiếu
      nại của một người hoặc chủ trì bất kỳ hình thức nào của một vụ kiện đại
      diện hoặc vụ kiện tập thể.
    </p>
    <h2><a href="#63-trọng-tài" id="63-trọng-tài"></a><a></a>6.3 TRỌNG TÀI</h2>
    <p>
      Nếu bạn đang ở, có trụ sở tại, có văn phòng tại hoặc kinh doanh tại khu
      vực pháp lý mà Phần 6.3 này. có hiệu lực, các điều khoản trọng tài bắt
      buộc sau đây sẽ áp dụng cho bạn:
    </p>
    <h2>
      <a
        href="#631-trọng-tài-và-phân-xử-tranh-chấp"
        id="631-trọng-tài-và-phân-xử-tranh-chấp"
      ></a
      ><a></a>6.3.1 Trọng tài và phân xử tranh chấp
    </h2>
    <p>
      Bạn và Spotify đồng ý rằng bất kỳ tranh chấp, khiếu nại hoặc tranh cãi nào
      giữa bạn và Spotify nảy sinh liên quan hoặc liên quan dưới bất kỳ hình
      thức nào đến các Thỏa thuận này hoặc mối quan hệ của bạn với Spotify với
      tư cách là người dùng Dịch vụ (bất kể dựa trên hợp đồng, xâm phạm, đạo
      luật, gian lận, khai báo sai, hoặc bất kỳ lý thuyết pháp lý nào khác, và
      liệu khiếu nại có phát sinh trong hoặc sau khi chấm dứt Thỏa thuận) sẽ
      được xác định bởi trọng tài cá nhân ràng buộc bắt buộc bắt buộc. Trọng tài
      không có tính chính thức hơn so với một vụ kiện tại tòa án. KHÔNG CÓ THẨM
      PHÁN HOẶC BỒI THẨM ĐOÀN TRONG TRỌNG TÀI, VÀ VIỆC XEM XÉT CỦA TÒA ÁN ĐỐI
      VỚI PHÁN QUYẾT CỦA TRỌNG TÀI BỊ HẠN CHẾ. Có thể có nhiều phát hiện giới
      hạn hơn so với tại tòa án. Trọng tài viên phải tuân theo thỏa thuận này và
      có thể ra phán quyết bồi thường thiệt hại tương tự như tòa án (bao gồm cả
      phí luật sư), ngoại trừ việc trọng tài viên không thể đưa ra biện pháp
      giảm nhẹ theo lệnh hoặc tuyên bố có lợi cho bất kỳ ai ngoài các bên tham
      gia trọng tài. Điều khoản trọng tài này sẽ tiếp tục có hiệu lực sau khi
      chấm dứt Thỏa thuận.
    </p>
    <h2><a href="#632-ngoại-lệ" id="632-ngoại-lệ"></a><a></a>6.3.2 Ngoại lệ</h2>
    <p>
      Bất kể điều 6.3.1 ở trên, bạn và Spotify đều đồng ý rằng không có gì ở đây
      sẽ được coi là từ bỏ, loại trừ hoặc hạn chế một trong hai quyền của chúng
      tôi, vào bất kỳ lúc nào, để (1) đưa ra một vụ kiện cá nhân tại một tòa án
      khiếu nại nhỏ, (2) theo đuổi các hành động thực thi thông qua liên bang,
      tiểu bang hiện hành, hoặc các cơ quan địa phương nơi có các hành động đó,
      (3) tìm kiếm biện pháp trừng phạt trước tòa án, hoặc (4) đệ đơn kiện lên
      tòa án để giải quyết các khiếu nại vi phạm quyền sở hữu trí tuệ.
    </p>
    <h2>
      <a href="#633-quy-tắc-trọng-tài" id="633-quy-tắc-trọng-tài"></a
      ><a></a>6.3.3 Quy tắc trọng tài
    </h2>
    <p>
      Bạn hoặc chúng tôi có thể bắt đầu thủ tục phân xử. Bất kỳ phân xử nào giữa
      bạn và Spotify cuối cùng sẽ được giải quyết theo Quy tắc trọng tài của
      Phòng Thương mại Quốc tế ("ICC") sau đó có hiệu lực ("Quy tắc ICC") bởi
      một hoặc nhiều trọng tài viên được chỉ định theo Quy tắc ICC, được sửa đổi
      bởi các Thỏa thuận này, và sẽ do Tòa án Trọng tài Quốc tế của ICC quản lý.
    </p>
    <p>
      Bất kỳ phân xử nào cũng sẽ được tiến hành bằng tiếng Anh và trừ khi có yêu
      cầu khác của luật pháp bắt buộc của một bang thành viên Liên minh châu Âu
      hoặc bất kỳ khu vực pháp lý nào khác, luật được áp dụng trong bất kỳ phân
      xử nào sẽ là luật của [tiểu bang hoặc quốc gia liên quan được mô tả trong
      điều khoản 6.1], mà không liên quan đến lựa chọn hoặc xung đột về nguyên
      tắc pháp luật.
    </p>
    <h2>
      <a
        href="#634-thời-gian-để-nộp-khiếu-nại"
        id="634-thời-gian-để-nộp-khiếu-nại"
      ></a
      ><a></a>6.3.4 Thời gian để nộp khiếu nại
    </h2>
    <p>
      Bất kỳ việc phân xử nào cũng phải được bắt đầu bằng cách nộp yêu cầu phân
      xử trong vòng MỘT (1) NĂM sau ngày bên xác nhận khiếu nại đã biết hoặc có
      lý do hợp lý cần biết về hành động, bỏ sót hoặc mặc định dẫn đến khiếu
      nại; và sẽ không có quyền đối với bất kỳ biện pháp khắc phục nào cho bất
      kỳ khiếu nại nào không được xác nhận trong khoảng thời gian đó. Nếu luật
      pháp hiện hành cấm thời hạn một năm để xác nhận khiếu nại, mọi khiếu nại
      phải được xác nhận trong khoảng thời gian ngắn nhất được luật pháp hiện
      hành cho phép.
    </p>
    <h2>
      <a href="#635-thông-báo-quy-trình" id="635-thông-báo-quy-trình"></a
      ><a></a>6.3.5 Thông báo; Quy trình
    </h2>
    <p>
      Một bên có ý định tìm kiếm trọng tài trước tiên phải gửi thông báo bằng
      văn bản về tranh chấp cho bên kia, bằng thư bảo đảm hoặc Federal Express
      (cần có chữ ký) hoặc trong trường hợp chúng tôi không có địa chỉ thực
      trong hồ sơ cho bạn, bằng phương thức điện tử mail ("Thông báo"). Địa chỉ
      thông báo của Spotify là: [Spotify, Attn: General Counsel, 4 World Trade
      Center, 150 Greenwich Street, 62nd Floor, New York, New York 10007, USA].
      Thông báo phải (1) mô tả tính chất và cơ sở của khiếu nại hoặc tranh chấp;
      và (2) đề ra giải pháp cụ thể theo yêu cầu ("Yêu cầu"). Chúng tôi đồng ý
      sử dụng nỗ lực thiện chí để giải quyết trực tiếp khiếu nại, nhưng nếu
      chúng tôi không đạt được thỏa thuận để làm điều này trong vòng 30 ngày sau
      khi nhận được thông báo, bạn hoặc Spotify có thể bắt đầu tiến hành thủ tục
      trọng tài. Trong quá trình phân xử, số tiền bất kỳ đề nghị dàn xếp nào do
      bạn hoặc Spotify thực hiện sẽ không được tiết lộ cho trọng tài cho đến khi
      trọng tài đưa ra quyết định và quyết định cuối cùng, nếu có. Trong trường
      hợp tranh chấp của chúng ta cuối cùng được giải quyết thông qua phân xử
      ủng hộ bạn, Spotify sẽ thanh toán cho bạn (1) số tiền do trọng tài trao,
      nếu có, (2) số tiền giải quyết bằng văn bản cuối cùng mà Spotify cung cấp
      để giải quyết tranh chấp trước khi trọng tài đưa ra; hoặc (3) $1.000,00,
      tùy theo giá trị nào lớn hơn. Tất cả tài liệu và thông tin được tiết lộ
      trong quá trình phân xử sẽ được người nhận giữ bí mật nghiêm ngặt và không
      được người nhận sử dụng vì bất kỳ mục đích nào khác ngoài mục đích phân xử
      hoặc thực thi quyết định và quyết định của trọng tài và sẽ không được sử
      dụng được tiết lộ trừ khi bí mật cho những người có nhu cầu được biết vì
      những mục đích như vậy hoặc theo yêu cầu của luật pháp hiện hành.trừ khi
      được yêu cầu thực thi quyết định và quyết định của trọng tài, bạn cũng như
      Spotify không đưa ra bất kỳ thông báo công khai hoặc nhận xét công khai
      nào hoặc tạo bất kỳ công khai nào liên quan đến việc phân xử, bao gồm,
      nhưng không giới hạn ở việc các bên tranh chấp, sự tồn tại của trọng tài
      hoặc bất kỳ quyết định hoặc quyết định nào của trọng tài.
    </p>
    <h2><a href="#636-sửa-đổi" id="636-sửa-đổi"></a><a></a>6.3.6 Sửa đổi</h2>
    <p>
      Trong trường hợp Spotify thực hiện bất kỳ thay đổi nào trong tương lai đối
      với điều khoản trọng tài này (ngoài thay đổi địa chỉ nhận thông báo của
      Spotify), bạn có thể từ chối bất kỳ thay đổi nào như vậy bằng cách gửi cho
      chúng tôi thông báo bằng văn bản trong vòng 30 ngày kể từ ngày thay đổi
      sang địa chỉ nhận thông báo của Spotify, trong trường hợp tài khoản của
      bạn với Spotify sẽ ngay lập tức chấm dứt và điều khoản trọng tài này, có
      hiệu lực ngay trước khi sửa đổi mà bạn từ chối, sẽ tồn tại.
    </p>
    <h2>
      <a href="#637-tính-bắt-buộc-thi-hành" id="637-tính-bắt-buộc-thi-hành"></a
      ><a></a>6.3.7 Tính bắt buộc thi hành
    </h2>
    <p>
      Nếu việc từ bỏ vụ kiện tập thể tại Phần 6.2 được phát hiện là không thể
      thi hành trong trọng tài hoặc nếu bất kỳ phần nào của Phần 6.3 này được
      phát hiện là không hợp lệ hoặc không thể thi hành, thì toàn bộ Phần 6.3
      này sẽ vô hiệu và trong trường hợp đó, các bên đồng ý rằng thẩm quyền và
      địa điểm độc quyền được mô tả trong Phần 6.1 sẽ chi phối bất kỳ hành động
      nào phát sinh từ hoặc liên quan đến Thỏa thuận và bạn sẽ không bị ngăn cản
      việc khởi kiện bất kỳ lúc nào.
    </p>
    <h1>
      <a
        href="#7-giới-thiệu-về-các-điều-khoản-này"
        id="7-giới-thiệu-về-các-điều-khoản-này"
      ></a
      ><a></a>7. Giới thiệu về các Điều khoản này
    </h1>
    <p>
      Theo luật áp dụng, bạn có thể có một số quyền nhất định không thể bị giới
      hạn bởi hợp đồng. Những thuật ngữ này không nhằm hạn chế những quyền đó.
    </p>
    <h2><a href="#thay-đổi" id="thay-đổi"></a><a></a>Thay đổi</h2>
    <p>
      Chúng tôi có thể thay đổi các Điều khoản này (bao gồm bất kỳ điều khoản và
      điều kiện bổ sung nào được kết hợp trong tài liệu này) tùy từng thời điểm
      bằng cách thông báo cho bạn về những thay đổi đó bằng bất kỳ cách hợp lý
      nào (trước khi chúng có hiệu lực), bao gồm việc đăng Thỏa thuận sửa đổi
      lên Dịch vụ Spotify hiện hành (với điều kiện là đối với những thay đổi
      quan trọng, chúng tôi sẽ tìm cách bổ sung cho thông báo đó qua email,
      thông báo bật lên trong dịch vụ hoặc các phương tiện khác). Bất kỳ thay
      đổi nào như vậy sẽ không áp dụng cho bất kỳ tranh chấp nào giữa bạn và
      chúng tôi phát sinh trước ngày chúng tôi đăng Điều khoản đã sửa đổi hoặc
      các điều khoản và điều kiện khác của Spotify, kết hợp những thay đổi này
      hoặc thông báo cho bạn về những thay đổi đó. Việc bạn sử dụng Dịch vụ
      Spotify sau khi có bất kỳ thay đổi nào đối với các Điều khoản này sẽ cấu
      thành sự chấp nhận của bạn đối với những thay đổi đó. Nếu bạn không muốn
      tiếp tục sử dụng dịch vụ Spotify theo Điều khoản đã cập nhật, bạn có thể
      chấm dứt tài khoản của mình bằng cách liên hệ với chúng tôi. Ngày có hiệu
      lực được quy định ở đầu tài liệu này cho biết thời điểm các Điều khoản này
      được thay đổi lần cuối.
    </p>
    <h2>
      <a href="#toàn-bộ-thỏa-thuận" id="toàn-bộ-thỏa-thuận"></a><a></a>Toàn bộ
      thỏa thuận
    </h2>
    <p>
      Ngoài những điều được nêu trong phần này hoặc như được đồng ý rõ ràng bằng
      văn bản giữa bạn và Spotify, các Điều khoản này cấu thành tất cả các điều
      khoản và điều kiện được thỏa thuận giữa bạn và Spotify và thay thế bất kỳ
      thỏa thuận trước nào liên quan đến vấn đề trong các Điều khoản này, dù
      bằng văn bản hay lời nói. Như đã nêu ở trên, các điều khoản và điều kiện
      khác quản lý việc sử dụng Dịch vụ Spotify được kết hợp ở đây để tham khảo,
      bao gồm các điều khoản và điều kiện sau:
      <a href="https://www.spotify.com/legal/premium-promotional-offer-terms/"
        ><u>Điều khoản ưu đãi khuyến mãi Spotify Premium</u></a
      >;<a
        href="https://www.spotify.com/legal/gift-card/?_ga=2.21821883.1498063814.1616003614-503052261.1611071431#spotifys-terms--conditions-for-gift-cards-egift-cards-subscription-cards-premium-codes-pins-and-similar-items-the-card-terms"
        ><u> Điều khoản thẻ Spotify</u></a
      >;
      <a href="http://spotify.com/legal/user-guidelines"
        ><u>Hướng dẫn sử dụng Spotify</u></a
      >;
      <a href="https://www.spotify.com/legal/copyright-policy/"
        ><u>Chính sách bản quyền Spotify</u></a
      >và
      <a
        href="https://www.spotify.com/legal/support-community-end-user-agreement/#spotify-support-community-terms"
        ><u>Điều khoản cộng đồng hỗ trợ Spotify</u></a
      >.
    </p>
    <h2>
      <a
        href="#hiệu-lực-từng-phần-và-miễn-trừ"
        id="hiệu-lực-từng-phần-và-miễn-trừ"
      ></a
      ><a></a>Hiệu lực từng phần và miễn trừ
    </h2>
    <p>
      Trừ khi có quy định khác trong các Điều khoản này, nếu bất kỳ điều khoản
      nào của các Điều khoản này bị coi là không hợp lệ hoặc không thể thực thi
      vì bất kỳ lý do nào hoặc ở bất kỳ mức độ nào, các điều khoản còn lại của
      các Điều khoản này sẽ không bị ảnh hưởng và việc áp dụng điều khoản đó sẽ
      được thực thi trong phạm vi luật pháp cho phép.
    </p>
    <p>
      Spotify hoặc bất kỳ người thụ hưởng bên thứ ba nào không thực thi các Điều
      khoản này hoặc bất kỳ điều khoản nào của điều khoản đó sẽ không khước từ
      quyền thực hiện việc đó của Spotify hoặc của người thụ hưởng bên thứ ba
      hiện hành.
    </p>
    <h2><a href="#chỉ-định" id="chỉ-định"></a><a></a>Chỉ định</h2>
    <p>
      Spotify có thể chỉ định bất kỳ hoặc tất cả các Điều khoản này và có thể
      chỉ định hoặc ủy quyền, toàn bộ hoặc một phần, bất kỳ quyền hoặc nghĩa vụ
      nào của Điều khoản này. Bạn không được chuyển nhượng các Điều khoản này,
      toàn bộ hoặc một phần, hoặc chuyển giao hoặc cấp phép phụ cho các quyền
      của bạn theo các Điều khoản này, cho bất kỳ bên thứ ba nào.
    </p>
  </div>
</div>
